<p-toolbar>
  <div class="ui-toolbar-group-left">
    Hello, {{user.login}}
  </div>
  
  <div class="ui-toolbar-group-right">
    <button pButton type="button" icon="fa-gears" routerLink="/admin" *ngIf="user.isAdmin"></button>
    <button pButton type="button" icon="fa-user" routerLink="/profile"></button>
    <button pButton type="button" icon="fa-shopping-cart" (click)="displayCart = true"></button>
    <button pButton type="button" icon="fa-sign-out" (click)="logout()"></button>
  </div>
</p-toolbar>

<app-list-products></app-list-products>
<app-cart [(show)]="displayCart"></app-cart>

